body {
  overflow: hidden;
}

ol, ul {
	list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* SCROLL */
.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  height: calc(100% - var(--scroll-extra));
  padding-bottom: var(--scroll-extra);
  margin: var(--scroll-margin);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #D7D7D7;
  border-radius: 10px;
}
*::-webkit-scrollbar{
  width: 6px;
}

/* LOADER */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader:after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  border: .15rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: spin 750ms infinite linear;
}
.loader.inverted:after {
  border: .15rem solid color(var(--primary) tint(95%));
  border-top-color: var(--primary);
}

/* TOOLTIP */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 90px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

[data-tooltip].tooltip-left:before {
  bottom: -16px;
  left: -95px;
  padding: 7px;
  width: 74px;
  margin-bottom: 0;
  margin-left: 0;
}
[data-tooltip].tooltip-left:after {
  bottom: 4px;
  left: -10px;
  width: 0;
  margin-left: 0;
  transform: rotate(-90deg);
}
